.produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    overflow:hidden;
    height: 60svh;
}

.ListaProdutos{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    border-color: #047727;
}

.ListaProdutos:hover {
    border: 1px solid #047727;
  }

.descricao{
    padding: 15px;
    text-align: center;
}

